img {
    max-width: 1200px;
    max-height: 340px;
}

* {
    font-family: Whitney, "Helvetica Neue", Arial, Helvetica, sans-serif;

}

/* Blocco Header */
header {
    background-color: #3161E0;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#header-up {
    list-style: none;
}

li {
    list-style: none;
}


/* Container generale (uguale per tutti) */

.container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 95%;
    justify-content: space-between;
}


/* Jumbotron */
.jumbotron {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}

.yellowbox {
    width: 50%;
    height: 80%;
    background-color: transparent;
    color: white;
    text-align: center;
}



/* Blocchi del Main (i riquadri più grandi) */
.txt-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 335px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;

}

.bg-grey {
    background-color: #F6F6F6;
    /* background-image: url(../img/wave.svg); */
}

#img-1 {
    background-image: url(../img/item1.svg);
    background-size: 100%;
}

#text-2 {
    background-image: url(../img/item2.svg);
    background-size: 100%;
}

#img-3 {
    background-image: url(../img/item3.svg);
    background-size: 105%;
}

/* Blocco con riquadro verde */
.greenbox {
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Piccoli riquadri dell'header */
#Logo {
    width: 20%;
    background-color: #3161E0;
}

#link {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    background-color: #3161E0;
}

#Login {
    width: 20%;
    background-color: #3161E0;
}

#accedi {
    width: 30px;
    height: 15px;
    background-color: #FFFFFF;

}

/* Piccoli riquadri del MAIN */

#img-1,
#img-3 {
    width: 60%;
    max-height: 260px;
}

#text-1,
#text-3 {
    width: 30%;

}

#img-2 {
    width: 30%;

    background-size: 100%;

}

#text-2 {
    width: 60%;
    max-height: 255px;
}

/* RIQUADRO VERDE */

#green {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#green-img {
    height: 80%;
    display: flex;
    justify-content: center;
}

img #green-img {
    max-height: 0px;
}

.green-text {
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
}

/* FOOTER */
footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(42, 40, 40);

}

#endpage {
    display: flex;
    flex-direction: row;
    min-height: 330px;
}

#social {
    width: 28%;
}

.page-column {
    width: 18%;
}

#endline {
    display: flex;
    background-color: antiquewhite;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

#logo-end,
#button {
    background-color: rgb(240, 83, 83);
}

/* TEXT */

h1 {
    font-size: 35px;
}

.jumbo-text {
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
}

h2 {
    font-size: 24px;
    text-align: left;

}

.plain-text {
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
}

footer .plain-text {
    line-height: 1.8;
    text-align: left;
    padding: 0px;
    color: white;

}

ul {
    align-content: end;
    margin-top: 5px;
}

h3 {
    font-size: 24px;
    text-align: center;
}

h5 {
    color: #7289DA;
    font-style: bold;
    font-size: 25px;
    margin: 23px 0px;
}

h4 {}

h6 {
    color: #7289DA;
    font-style: bold;
    margin-top: 30px;
    margin-bottom: 0px;
}